@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #d5c3aa;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  color: #646cff;
}

a.active {
  color: #646cff;
  font-weight: 800;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.form-container {
  background-color: #1f2937;
  width: 450px;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.form-container h2 {
  font-size: 2.5rem;
  padding: 1rem, 0;
  text-align: center;
}
.form-container form {
  margin: 2rem, 0;
}
.form-control input {
  width: 100%;
  border: 1px solid#1f2937;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
form button {
  width: 100%;
  background-color: rgb(72, 72, 182);
  outline: none;
  border: none;
  font-family: inherit;
  color: #d5c3aa;
  padding: 1.2rem, 0;
  margin-top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50px;
}
form button:active {
  transform: scale(0.98);
}
